---
- name: Set elasticsearch password reset path
  set_fact:
    elasticsearch_reset_password: 
      /usr/share/elasticsearch/bin/elasticsearch-reset-password
  run_once: true
  delegate_to: localhost

- name: Reseting elastic password
  shell:
    cmd: |
      echo y | {{ elasticsearch_reset_password }} -s -u elastic
  run_once: true
  delegate_to: "{{ groups['elasticsearch'][0] }}"
  register: elasticsearch_password_output

- name: Reseting kibana_system
  shell:
    cmd: |
      echo y | {{ elasticsearch_reset_password }} -s -u kibana_system
  run_once: true
  delegate_to: "{{ groups['elasticsearch'][0] }}"
  register: kiabana_password_output

- name: Set password variables
  set_fact:
    elasticsearch_password: "{{ elasticsearch_password_output.stdout }}"
    kibana_system_password: "{{ kiabana_password_output.stdout }}"
    cacheable: true
  run_once: true
  delegate_to: localhost